<div class= "container">
  <div class="d-flex justify-content-between pt-5">
  <h2>Mis listas</h2>
  <p><%= link_to "Crear lista", new_watchlist_path, class: "btn btn-primary" %></p>
  </div>
  <div class="cards">
    <% @watchlists.each do |watchlist| %>
      <%= link_to watchlist, class: 'clear-link' do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <%= watchlist.title %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
