<div class="bg-white">
<div class= "flex-wrapper">
<div class="container bg-white">
<div class="row justify-content-center">
<div class= "col-12 col-sm-6">


<h2><%= @watchlist.title %></h2>


</div>
</div>
</div>
</div>
</div>

