<div class="m-5 text-center">
  <h1 class="display-5 fw-bold">¡Bienvenido!</h1>
  <p>¿Que pelicula deseas encontrar?</p>
</div>
<div class="container navbar mt-5">
  <ul class="list-group list-group-horizontal gap-0">
    <a>
      <li class="list-group-item border-0 p-2">Todas</li>
    </a>
    <a>
      <li class="list-group-item border-0 p-2">Películas</li>
    </a>
    <a>
      <li class="list-group-item border-0 p-2">Series</li>
    </a>
  </ul>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item border-0 p-2">
      Año <i class="fa-sharp fa-regular fa-chevron-down"></i>
    </li>
    <li class="list-group-item border-0 p-2">Género <i class="fa-sharp fa-regular fa-chevron-down"></i>
    </li>
    <li class="list-group-item border-0 p-2">Plataforma <i class="fa-sharp fa-regular fa-chevron-down"></i>
    </li>
  </ul>
</div>
<div class="container d-flex justify-content-center flex-wrap">
  <% @movies.each do |movie| %>
    <div class="card-trip m-3">
      <%= link_to movie, class: 'clear-link' do %>
        <% if movie.photo.attached? %>
          <%= cl_image_tag movie.photo.key, height: 300, width: 200, crop: :scale, class:"card-img-top"%>
        <% end %>
        <div class="card-trip-infos col">
          <div>
            <h2><%= movie.title %></h2>
            <p><%= movie.year %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
