<div class="container mt-3">
  <div class="row">
    <div class="card-product">
    <div class="col-md-4">
      <%= cl_image_tag @movie.photo.key %>
    </div>
      <div class="col-md-8">
        <div class="card-product-infos">
          <h2><%= @movie.title %></h2>
          <p><%= @movie.description %></p>
          <p><%= @movie.platform %></p>
        </div>
      </div>
    </div>
  </div>
</div>
