 <footer class="footer">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #161616;">
      © <%= Date.current.year =%> Copyright

      <a class="text-warning" href="http://www.streamseeker.lat/">StreamSeeker.lat</a>
    </div>
    <!-- Copyright -->
  </footer>
