.card-trip {
    overflow:hidden;
    background: #161616;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 200px;
    border-radius: 8px;
    position: relative;
}




.card-trip>img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.card-trip h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: white;
}

.card-trip p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
    color: white;
}


.card-trip .card-trip-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.watchlist, .heart {
    position: absolute;
    font-size: 15px;
    color: #FFF;
    background-color: #161616;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
}

.card-trip .watchlist {
    left: 5px;
    //color: #FF7F50;
}

.card-trip .heart {
    right: 5px;
}
