.favorites-scroll{
  align-content: center;
}

.style{
  background-color: #161616;
  color: #A5A5A5;
  height: 500px;
  width: 500px;
  cursor: pointer;
  border-style:double;
  border-color: #FBC500;
  font-size: 15px;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.style:focus {
  outline: 5px dotted #FBC500;
}

