.navbar-lewagon {
  justify-content: space-between;
  background: #161616;
}

.nav-link {
  color: #A5A5A5 !important;
  }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#main-logo {
  min-width: 250px;
  position: absolute;
  z-index: 5;
  top: -90px;
  }
