.review {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.review .review-content {
  flex-grow: 1;
  padding: 0 24px;
}

.review p {
  margin: 0;
  line-height: 1.4;
}

.review small {
  color: #999999;
  font-weight: bold;
}
.review .review-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.review:hover .review-actions {
  opacity: 1;
}

.review .review-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.review .review-actions a:hover {
  color: #555555;
}
